body{
color:  black;
background: #595
}
header {
    border-bottom: solid 2px rgb(4002, 0, 8);
    padding: 20px;
    font-size: 32px;
    color: rgb(4002, 0,8);
}
body {
    color: black
    background: #595
    margin: 0px;
}

header {
    border-bottom: solid 2px #595(95, 228, 42);
    padding: 20px;
    font-size: 32px;
    color: rgb(4002, 0, 8);
}

section {
    background: rgb(184,156,213);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}